

<!--=== Breadcrumbs v3 ===-->
<div class="breadcrumbs-v3 img-v3 text-center">
  <div class="container">
  </div>
  <!--/end container-->
</div>
<!--=== End Breadcrumbs v3 ===-->
<!--=== Content Part ===-->
<div class="container content">
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">

        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => "reg-page"}) do |f| %>

        <div class="reg-header">
          <h2>Login to your account</h2>
        </div>

        <h5>Click <a class="color-green" href="#">Sign In</a> to new account.</h5>

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon"><i class="fa fa-user"></i></span>
          <%= f.email_field :email, placeholder:"e-mail", autofocus: true, class: "form-control" %>
        </div>

        <div class="input-group margin-bottom-20">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <%= f.password_field :password, placeholder:"Password", autocomplete: "off", class:"form-control" %>
        </div>

        <div class="row">

          <% if devise_mapping.rememberable? -%>

              <div class="col-md-6 checkbox">
                <label><%= f.check_box :remember_me %> Stay signed in</label>
            </div>

          <% end -%>

          <div class="col-md-6">
            <%= f.submit "Login", class: "btn-u pull-right" %>
          </div>
        </div>


          <%= render "users/shared/links" %>

      <% end %>
    </div>
  </div>
  <!--/row-->
</div>
<!--/container-->