<!--=== Service Info ===-->
<div class="service-info">
  <div class="container content-sm">
    <div class="row ebook">
      <div class="col-md-6 ">
        <img class="img-responsive img-center" src="assets/img/new/home/ebook.png" alt="">
      </div>
      <div class="col-md-6">

        <div class="headline-left margin-bottom-30">
          <h2 class="">Digite seu email para receber o ebook.</h2>
          <p>Baixe nosso guia gratuito, com diversas informações sobre a cidade e dicas de colleges e faculdades para estudar. <span class="color-blue">Hacking Vancouver é o nosso primeiro ebook gratuito, baixe já!</span></p>
        </div>
        <form class="">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Digite seu email">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" type="button">Quero Ler o Ebook!</button>
                        </span>
          </div>
        </form>
      </div><!--/end row-->
    </div>
  </div><!--/container-->
</div>
<!--=== End Service Info ===-->


<!--=== Service Info ===-->
<div class="service-info-beneficios">
  <div class="container content-sm">
    <div class="row ebookrow">
      <li class="equal-height-columns beneficios_vk">
        <div class="cbp_tmlabel equal-height-column">
          <h2>Veja os benefícios de se tornar um</h2>
          <h1>VanHacker!</h1>

          <div class="col-sm-4 listahome">
            <ul class="list-unstyled ">
              <li><i class="fa fa-check color-white"></i> Consulta Personalizada;</li>
              <li><i class="fa fa-check color-white"></i> Grupo WhatsApp;</li>
              <li><i class="fa fa-check color-white"></i> Contato com Investidores;</li>
              <li><i class="fa fa-check color-white"></i> Contato das empresas;</li>
            </ul>
          </div>
          <div class="col-sm-4 listahome">
            <ul class="list-unstyled">
              <li><i class="fa fa-check color-white"></i> Hangouts semanais;</li>
              <li><i class="fa fa-check color-white"></i> Acervo de vídeos exclusivos;</li>
              <li><i class="fa fa-check color-white"></i> Currículo e Cover Letter.</li>
            </ul>
          </div>

        </div>
      </li>

    </div><!--/end row-->

    <div class="col-md-6 col-md-offset-3 btnhomevanhack">
      <a href="premium.html#premiumprice" class="btn btn-block btn-android">Seja um VanHacker.</a>
    </div>
  </div>
</div><!--/container-->
</div>
<!--=== End Service Info ===-->