<!-- Begin Content -->
<div class="col-md-12">
  <!--Basic Table-->
  <div class="panel panel-blue margin-bottom-40">
    <div class="panel-heading">
      <h3 class="panel-title text-center"> Skills</h3>
    </div>
    <div class="panel-body text-center">
      <div class="col-md-6"><h4>Average Score: <%= @account.average_score %></h4></div>
      <div class="col-md-6"><h4>Overall Ranking: <%= @account.rank_position%>º</h4></div>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Skill</th>
        <th>Category</th>
        <th>Date</th>
        <th>Score</th>
        <th>Level</th>
        <th>Rank</th>
      </tr>
      </thead>
      <tbody>

      <% @account.skills.each do |skill| %>

      <tr>
        <td><%= skill.name %></td>
        <td><%= skill.category.name %></td>
        <td><%= skill.date %></td>
        <td><%= skill.score %></td>
        <td><%= skill.level %></td>
        <td><%= skill.rank %>º</td>
      </tr>

      <% end %>

      <% if @account.skills.empty? %>
          <tr>
            <td colspan="5">You don't have any skill registered yet.</td>
          </tr>
      <% end %>

      </tbody>
    </table>
  </div>
  <!--End Basic Table-->
</div>
<!-- End Content -->