<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
</p>

<p>
  <strong>Website:</strong>
  <%= @company.website %>
</p>

<p>
  <strong>Location:</strong>
  <%= @company.location %>
</p>

<p>
  <strong>Markets:</strong>
  <%= @company.markets %>
</p>

<p>
  <strong>High concept pitch:</strong>
  <%= @company.high_concept_pitch %>
</p>

<p>
  <strong>Why us:</strong>
  <%= @company.why_us %>
</p>

<p>
  <strong>Product:</strong>
  <%= @company.product %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
