
 <!-- Interactive Slider v2 -->
    <div class="interactive-slider-v3">
        <div class="container">

            <div class="row">
            <div class="col-md-12 banner1">
                <h1>Connecting cultures through code.</h1>
                <p>VanHack is your bridge into the Canadian Digital market.</p>
                <p> Through our three pillars of Support, Content and Community, we create experiences that will help you grow professionally.</p>
            </div>
            </div>

                </div>

            </div><!--/end row-->

</div>


        </div>
    </div>
    <!-- End Interactive Slider v2 -->








    <!--=== Block Description ===-->
    <div class="block-description bgconheca">
        <div class="container">
            <div class="col-md-7 img_conheca">
            <img class="img-responsive  imagem2conheca"  src="assets/img/new/conheca/img1.png" alt="">
        </div>

        <div class="col-md-5">
            <div class="title-box-v2 titlebox2">
                <h2> Our mission is <span style=" color:#02aeef;">to give international tech talent the tools </span> for success in North America.</h2>
                <p>Our extensive industy knowledge, experience and contact in the canadian digital market are here to help you find a job.</p>
                <p> We're an international group passionate about Startups and technology that is constantly connecting talent to top opportunities. <span style=" color:#02aeef;"> We are a roadmap that helps you establish yourself professionally in the digital market.</span></p>
            </div>
</div>
                    </div>
                </div>
                <!-- End Right Inner -->
            </div>
        </div>
    </div>
    <!--=== End Block Description ===-->




<!--=== Service Block v4 ===-->
            <div class="service-block-v4">
               <div class="container content">
                  <div class="row">

                     <div class="col-md-4 depo1">
                        <h2>Testimonials</h2>
                        <p> VanHack has helped dozens of tech profissionals reach their goals. Here are some examples of successful VanHackers.</p>
                     </div>


                     <div class="col-md-8">
                           <div class="">
                                 <a class="venobox venoboxvid" data-type="youtube" href="https://www.youtube.com/embed/hDlhCrfE1kI?rel=0&amp;autoplay=1">
                                 <img class="img-responsive imghover"  src="assets/img/new/about/pic_6.jpg" alt="">
                                 </a>
                        </div>


                  </div>


                     <div class="col-md-10">
                           <div class="simple-block depo3">
                              <div class="">
                                 <a class="venobox venoboxvid" data-type="youtube" href="https://www.youtube.com/embed/m3VkAg0-fYc?rel=0&amp;autoplay=1">
                                 <img class="img-responsive imghover" src="assets/img/new/about/pic_7.jpg" alt="">
                                 </a>
                              </div>
                          </div>
                           <!-- End Simple Block -->
                        </div>




</div>



</div>





<!--=== Container Part ===-->
                  <div class="testimonials-v3">
                     <div class="container">
                        <div class="row">
                           <div class="col-md-8 col-md-offset-2">
                              <ul class="list-unstyled owl-ts-v1">
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo1.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Alexandre Queiroz</p>
                                       <span>Software Engineer</span>
                                    </div>
                                    <p class="text-center">I have been lucky to have VanHack help me since I arrived in Vancouver. With their guidance I was able to land 3 interviews and take my first steps towards success in Cnaada. </p>
                                 </li>
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo2.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Adam Silva</p>
                                       <span>Digital Entrepreneur</span>
                                    </div>
                                    <p class="text-center">VanHack has been helping create a plan to move to Canada. I have only received useful tips and applied all the advice they have shared. I am sure that with VanHack it is just a matter of time until I reach my goals.
                                    <p>
                                 </li>
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo3.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Gustavo de Geus</p>
                                       <span>Software Developer</span>
                                    </div>
                                    <p class="text-center"> VanHack is amazing! All of their help, incentives, and tips that they sahred with me were extremely important, and saved me A LOT of time and money! Beyond this, there is always someone available to answer my questions in a professional manner.
                                    <p>
                                 </li>
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo4.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Caio Graco</p>
                                       <span>Software Developer</span>
                                    </div>
                                    <p class="text-center">Vanhack really does diminish the distance between you and Canada, offering all the necessary support from the CV to English. It's a complete guide to success.
                                    <p>
                                 </li>
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo5.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Jonatas Vieira</p>
                                       <span>Digital Art Director & Interactive Designer</span>
                                    </div>
                                    <p class="text-center">Joining Vanhack was one of the best choices in my professional career. When talking about connecting people, I have never seen a team that has been as helpful as them.
                                    <p>
                                 </li>
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo6.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Carlos Benicio</p>
                                       <span>Software Architect</span>
                                    </div>
                                    <p class="text-center"> Having access to the career planning tools, a direct channel with Canadian employers and weekly interview practice in English has put me on the same ground as a Canadian candidate and dimished the disance between me and my goal.
                                    <p>
                                 </li>
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo7.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Gabriel Scaglia Dias</p>
                                       <span>Head of Digital Marketing at Kaplan</span>
                                    </div>
                                    <p class="text-center">Moving to a new country is difficult for everyone, and VanHack ended up being for me more than just support, it helped me open new horizons, meet amazing companies, new markets and fantastic people. When arriving and knowing nobody, it was the push that I needed to go after my Canadian dream.
                                    <p>
                                 </li>
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo8.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Ernesto Zarovich</p>
                                       <span>Blogger and Creative Director</span>
                                    </div>
                                    <p class="text-center">The VanHack team was able to create something beyond just a course, it's a cultural immersion and experiecne that changes lives. The community they've created is one tha is constantly helping the Vanhackers and is a reflection of their dedication and attention to the customer.
                                    <p>
                                 </li>
                                 <li class="item">
                                    <img class="rounded-x img-bordered" src="assets/img/new/conheca/depo9.jpg" alt="">
                                    <div class="testimonials-v3-title">
                                       <p class="text-center">Elenízio Oliveira</p>
                                       <span>Lawyer</span>
                                    </div>
                                    <p class="text-center"> It is a lot easier and faster to reach your objectives when you have support from those who have experience to show. If you're interested in the technology market, VanHack is the way to go!
                                    <p>
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!--=== Container Part ===-->
























<!--=== Service Block v4 ===-->

                     <div class="container content partners_logos">

                        <div class="row col-md-12 title_depo text-center">
                           <h1>Our amazing partners</h1>

                        </div>
                        <section> <h2></h2>
                           <div class="container partner-logos">
                              <div class="grid with-spacing">
                                 <div class="grid__item one-whole">
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo1.png" class="img-responsive img-center" alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo2.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo3.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo4.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo5.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo6.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo7.png" aclass="img-responsive img-center"  lt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo8.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo9.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo10.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo11.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo12.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo13.png" class="img-responsive img-center"  alt=""/></a>
                                    </div>
                                    <div class="grid__item one-fifth lg-one-quarter md-one-third sm-one-half centered-content with-spacing-top-half">
                                       <a><img src="assets/img/new/about/logo14.png" class="img-responsive img-center" alt=""/></a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </section>
                        <BR><BR>
                     </div>
                  </div>
</div>
               <!--/end container-->
