
<!--=== Content Part ===-->
               <div class="container content">
                  <div class="row">
                     <div class="col-md-6 img-responsive img-center">
                        <!-- Contacts -->
                        <img class="img_contact img-responsive img-center" src="assets/img/new/contact/img_contact.jpg" alt="">

                     </div>
                     <!--/col-md-6-->
                     <div class="col-md-6 mb-margin-bottom-30">
                        <h3>Please say hello if you have any questions or want to book a free assessment with our team.</h3>
                        <h6>All fields are required.</h6>
                        <br />
                        <form action="assets/php/sky-forms-pro/demo-contacts-process.php" method="post" id="sky-form3" class="sky-form contact-style">
                           <fieldset class="no-padding">
                              <label>Name: <span class="color-red">*</span></label>
                              <div class="row sky-space-20">
                                 <div class="col-md-7 col-md-offset-0">
                                    <div>
                                       <input type="text" name="name" id="name" class="form-control">
                                    </div>
                                 </div>
                              </div>
                              <label>E-mail: <span class="color-red">*</span></label>
                              <div class="row sky-space-20">
                                 <div class="col-md-7 col-md-offset-0">
                                    <div>
                                       <input type="text" name="email" id="email" class="form-control">
                                    </div>
                                 </div>
                              </div>

                              <label>Mensagem: <span class="color-red">*</span></label>
                              <div class="row sky-space-20">
                                 <div class="col-md-11 col-md-offset-0">
                                    <div>
                                       <textarea rows="8" name="message" id="message" class="form-control"></textarea>
                                    </div>
                                 </div>
                              </div>
                              <button type="submit" class="btn-u">Enviar.</button>
                           </fieldset>
                           <div class="message">
                              <i class="rounded-x fa fa-check"></i>
                              <h4>Your message has been sent! We'll get back to you right away.</h4>
                           </div>
                        </form>
                        <div class="headline">
                           <h2>Contact</h2>
                        </div>
                        <ul class="list-unstyled who margin-bottom-30">
                           <li><a ><i class="fa fa-home"></i>128 W Hastings St #210</a></li>
                           <li><a ><i class="fa fa-envelope"></i>Vancouver, BC V6B 1G8</a></li>
                           <li><a ><i class="fa fa-phone"></i>+1 778-837-6206</a></li>
                        </ul>
                     </div>
                     <!--/col-md-9-->
                  </div>
                  <!--/row-->
                  <!-- End Owl Clients v1 -->
               </div>
               <!--/container-->
               <!--=== End Content Part ===-->
               <div id="map" class="map">
               </div>
               <!---/map-->
