
               <div class="header-v3 header-sticky">
                  <!-- Navbar -->
                  <div class="navbar navbar-default mega-menu" role="navigation">
                     <div class="container">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                           <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                           <span class="sr-only">Toggle navigation</span>
                           <span class="fa fa-bars"></span>
                           </button>
                           <a class="navbar-brand" href="index.html">
                           <img id="logo-header" src="assets/img/logo1-default.png" alt="Logo">
                           </a>
                        </div>
                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse mega-menu navbar-responsive-collapse">
                           <div class="container">
                              <ul class="nav navbar-nav">
                                 <!-- Blog -->
                                 <li class="">
                                    <a href="blog.html">
                                    About Us
                                    </a>
                                 </li>
                                 <!-- End Blog -->
                                 <!-- Portfolio -->
                                 <li class="">
                                    <a href="jobs.html">Jobs</a>
                                 </li>
                                 <!-- End Portfolio -->
                                 <!-- Shortcodes -->
                                 <li class="btn_premium">
                                    <a href="#">Log in</a>
                                 </li>
                                 <!-- End Shortcodes -->
                              </ul>
                           </div>
                           <!--/end container-->
                        </div>
                        <!--/navbar-collapse-->
                     </div>
                  </div>
                  <!-- End Navbar -->
               </div>
               <!--=== End Header v3 ===-->
               <!--=== Breadcrumbs v3 ===-->
               <div class="breadcrumbs-v3 img-v3 text-center">
                  <div class="container">
                  </div>
                  <!--/end container-->
               </div>
               <!--=== End Breadcrumbs v3 ===-->
               <!--=== Content Part ===-->
               <div class="container content">
                  <div class="row">
                     <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                        <form class="reg-page">
                           <div class="reg-header">
                              <h2>Login to your account</h2>
                           </div>
                           <h5>Click <a class="color-green" href="#">Sign In</a> to new account.</h5>
                           <div class="input-group margin-bottom-20">
                              <span class="input-group-addon"><i class="fa fa-user"></i></span>
                              <input type="text" placeholder="Username" class="form-control">
                           </div>
                           <div class="input-group margin-bottom-20">
                              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                              <input type="password" placeholder="Password" class="form-control">
                           </div>
                           <div class="row">
                              <div class="col-md-6 checkbox">
                                 <label><input type="checkbox"> Stay signed in</label>
                              </div>
                              <div class="col-md-6">
                                 <button class="btn-u pull-right" type="submit">Login</button>
                              </div>
                           </div>
                           <h4>Forget your Password ?</h4>
                           <p>no worries, <a class="color-green" href="#">click here</a> to reset your password.</p>
                        </form>
                     </div>
                  </div>
                  <!--/row-->
               </div>
               <!--/container-->
               <!--=== End Content Part ===-->
               
