
    <!--=== Slider ===-->
    <div class="ms-layers-template">
        <!-- masterslider -->
        <div class="master-slider ms-skin-default" id="masterslider">
            <div class="ms-slide" style="z-index: 10">
                <img src="assets/img/new/premium/img1.jpg" data-src="assets/img/new/premium/img1.jpg" class="ms-slide__img" alt="">
                <div class="ms-layer titlebannerpremium1"
                    data-effect="bottom(40)"
                    data-duration="2000"
                    data-delay="0"
                    data-ease="easeOutExpo"
                >VanHack Premium</div>

                <div class="ms-layer titlebannerpremium1a"
                    data-effect="bottom(40)"
                    data-duration="2000"
                    data-delay="0"
                    data-ease="easeOutExpo"
                >will faciliate your entrance in the Canadian Digital market.</div>

                <div class="ms-layer titlebannerpremium1b"
                    data-effect="bottom(40)"
                    data-duration="2000"
                    data-delay="0"
                    data-ease="easeOutExpo"
                >We focus on improving your job skills, mindset and network in order to plan your career growth. </div>

            </div>
            <!--<a class="ms-layer btn-u titlebannerpremium1c"  href="#"-->
                <!--data-effect="bottom(40)"-->
                <!--data-duration="2000"-->
                <!--data-delay="0"-->
                <!--data-ease="easeOutExpo"-->
            <!-->Become a VanHacker</a>
          -->

          <div class="ms-layer titlebannerpremium1b"
               data-effect="bottom(40)"
               data-duration="2000"
               data-delay="0"
               data-ease="easeOutExpo"
          >
            <%= render partial: "layouts/premium", :locals => {:button_text => 'Become a VanHacker' } %>

          </div>

        </div>
        <!-- end of masterslider -->
    </div>
    <!--=== End Slider ===-->




 <!--=== Image Block ===-->
               <div class="container-fluid1 content-sm no-bottom-space">
                  <div class="premium1">
                     <h2> The best path between you and the Canadian digital market.</h2>
                     <p>VanHack Premium is a plataform for your to manage your move to Canada and get your dream job.</p>
                  </div>
                  <img class="img-responsive img-center" src="assets/img/new/premium/note.png" alt="">

               </div>
               <!--=== End Image Block ===-->




    <!--=== Content ===-->
    <div class="content-m pointspremium ">
        <div class="container">
            <!-- Service Box -->
            <div class="row text-center margin-bottom-60">
                <div class="col-md-4 md-margin-bottom-50 ">
                    <img class="image-md margin-bottom-20" src="assets/img/new/premium/icon_1.png" alt="">
                    <p> Our step-by-step video course covers over 30 hours of content to help you prepare for your move.</p>
                </div>
                <div class="col-md-4 flat-service md-margin-bottom-50">
                    <img class="image-md margin-bottom-20" src="assets/img/new/premium/icon_2.png" alt="">
                    <p> Create a Hit List of companies you'd like to work for from a database of over 250 employers.</p>
                </div>
                <div class="col-md-4 flat-service">
                    <img class="image-md margin-bottom-20" src="assets/img/new/premium/icon_3.png" alt="">
                    <p> Get all your questions answered from immigration to interviews on demand, 24/7.</p>
                </div>
            </div>
            <!-- End Service Box -->
            <div class="col-md-6 col-md-offset-3 margin-bottom-60">
                    <div class="headline-center">
                        <!-- a href="#premiumprice" class="btn-u">Become a VanHacker</a -->
                        <%= render partial: "layouts/premium", :locals => {:button_text => 'Become a VanHacker' } %>
                     </div>
                </div>

        </div><!--/container -->



    </div>
    <!--=== End Content ===-->




<div class="container-fluid ">
        <!-- Team Blcoks -->
        <div class="row team-v7 no-gutter equal-height-columns sectionvideo">
            <div class="col-md-6 team-arrow-right">
                <div class="dp-table sectionvideo">
                    <div class="equal-height-column dp-table-cell team-v7-in">
                        <h1> Your dream of working in Canada is only a few clicks away.</h1>
                        <p> Get the guidance, peace of mind and connects to join the Canadian technology industry.</p>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <a class="venobox venoboxvid" data-type="vimeo" href="https://player.vimeo.com/video/117795093?rel=0&amp;autoplay=1">
                    <img class="img-responsive full-width equal-height-column"  src="assets/img/new/premium/img_video.jpg" alt="">
                </a>
            </div>
        </div>
        <!-- End Team Blcoks -->


</div>



<!--=== Container Part ===-->
    <div class="service-block-v6">
        <div class="container content-sm">
            <div class="row">
                <div class="col-md-6">
                    <div class="margin-bottom-30 notebookpremium">
                        <h2 class="headline-brd">Improve your English focusing on the Canadian Digital Market.</h2>
                        <p> Enjoy weekly interview practice where you'll simulate a real world environment with a VanHack mentor.</p>
                    </div>
                    <div class="row">
                        <div class="col-sm-11">
                            <div class="margin-bottom-30">
                                 <img class="icon_m " src="assets/img/new/premium/icon_1_m.png" alt="">

                                <div class="featurenote">
                                    <p>Learn the most used English terms related to technology and digital strategy </p>
                                </div>
                            </div>
                            <div class="margin-bottom-30">
                                <img class="icon_m " src="assets/img/new/premium/icon_2_m.png" alt="">
                                <div class="featurenote">
                                    <p> Connect with other outros VanHackers who are also working towards their Canadian dreams.</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-center" src="assets/img/new/premium/note_menor.png"  alt="">
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
    <!--=== End Container Part ===-->

<!-- Parallax Section -->
    <div class="bg-image-v67 parallaxBg ">
        <div class="container ">
            <div class="headline-center headline-light cellphone1">
                <h1>Learn how to sell your technical talent to Canadian employers.</h1>
                <p>We help you develop the professional skills needed to join the Canadian technology market.</p><br>
                <br>
                <div class="col-md-6 col-md-offset-3">
                    <div class="headline-center">
                        <!-- a href="#premiumprice" class="btn-u">Become a VanHacker</a -->
                      <%= render partial: "layouts/premium", :locals => {:button_text => "Become a VanHacker" } %>
                     </div>
                </div>

            </div><!--/end Headline Center-->
        </div>
    </div>
    <!-- End Parallax Section -->

    <!--=== Service Info ===-->
    <div class="service-price-premium">
        <div class="container content-sm">
            <div class="row text-center">
                <div class="col-md-12">
                    <h2> Imagine yourself connected to the best technology companies in Canada.</h2>
                    <p> Get introduces to the top companies, investors, entreprenerus and recruiters in the North America digital market today!</p>
                </div>

                <div class="col-md-3">
                </div>
                <div class="col-md-6">
                    <!-- button class="btn btn-block  btn-lg btnprice" type="button">Subscribe now to become a VanHacker</button -->
                  <%= render partial: "layouts/premium", :locals => {:button_text => "Subscribe now to become a VanHacker"} %>
                </div>
                <div class="col-md-3">
                </div>

        </div>
        </div><!--/container-->
    </div>
    <!--=== End Service Info ===-->
